html {
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

header {
  background-color: black;
}

header img {
  width: 70px;
  height: 70px;
}

header .flex {
  display: flex;
  position: relative;
}

header nav .logo{
  left: 0;
  position: absolute;
}

header nav .link {
  right: 0;
  position: absolute;
}

header div ul li {
  display: inline;
  padding-right: 30px;
}

header div ul li:last-child {
  padding-right: 30px;
}

