/*共有設定*/

html {
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
  /*ページの余白削除*/
}

a {
  color: black;
  text-decoration: none;
}

/*共通設定*/

/*header*/
.header {
  background: #000000;
  display: flex;
  top: 0;
  height: 50px;
  padding: 20px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  transition: 0.6s;
  opacity: 0.9;
}

.header a {
  color: #ffffff;
}

.header a:hover {
  color: #ff0000;
}

header.scroll-nav {
  padding: 10px 15px;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header.scroll-nav .logo,
header.scroll-nav .zikosyoukai,
header.scroll-nav ul li a {
  color: #a71a1a;
}
header.scroll-nav ul li a:hover {
  color: #000000;
}

.nav_menu {
  display: flex;
  padding-left: 50px;
  margin-right: 100px;
}

.nav_menu_item {
  margin-left: 80px;
  list-style: none;
}
/*header*/

/*main*/




/*main*/

/*footer*/
footer {
  background-color: lightgray;
  height: 50px;/*footerの余白を消す*/
}

footer {
  text-align: center;
  vertical-align: middle;
  padding-top:5px;
}
/*footer*/